<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>

    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet">

</head>
<body>

<div class="container my-2">
    <h1>Employees List</h1>

    <form th:action="@{/search}" method="get">
        <div>
            <p>Name <input type="text" name="keyword" th:value="${keyword}"  placeholder="Name" size="20" ></p>
            <p>Phone <input type="text" name="keyword" th:value="${keyword}"  placeholder="Phone" size="20" ></p>
            <p>Email <input type="text" name="keyword" th:value="${keyword}"  placeholder="Email" size="20" ></p>
            <p>Position <input type="text" name="keyword" th:value="${keyword}"  placeholder="Position" size="20" ></p>
        </div>
        <div>
            <button type="submit" class="btn btn-info" >Search</button>
            <button type="submit" class="btn btn-info" >Reset</button>
        </div>
    </form>

    <a class="btn btn-primary btn-sm mb-3" th:href="@{/add}"> Add Employee </a>
    <div>
        <a th:href="@{/excelExport}" class="btn btn-success">Export data into Excel
            <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
    </div><br/>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th><a>Employee Number</a></th>
            <th><a>Employee Name</a></th>
            <th><a>Employee Phone</a></th>
            <th><a>Employee Email</a></th>
            <th><a>Employee Position</a></th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.employeeNumber}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.phone}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.position}"></td>
            <td><a class="btn btn-primary" th:href="@{/update/{employeeNumber}(employeeNumber=${employee.employeeNumber})}">Update</a>
                <a class="btn btn-danger" th:href="@{/delete/{employeeNumber}(employeeNumber=${employee.employeeNumber})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
<!--    <div th:if="${totalPages > 1}">-->
<!--        <div class="row col-sm-10">-->
<!--            <div class="col-sm-2">-->
<!--                Total Rows: [[${totalItems}]]-->
<!--            </div>-->
<!--            <div class="col-sm-1">-->
<!--					<span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--						<a th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"-->
<!--                           th:if="${currentPage != i}">[[${i}]]</a>-->
<!--						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;-->
<!--					</span>-->
<!--            </div>-->
<!--            <div class="col-sm-1">-->
<!--                <a th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"-->
<!--                   th:if="${currentPage < totalPages}">Next</a>-->
<!--                <span th:unless="${currentPage < totalPages}">Next</span>-->
<!--            </div>-->

<!--            <div class="col-sm-1">-->
<!--                <a th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"-->
<!--                   th:if="${currentPage < totalPages}">Last</a>-->
<!--                <span th:unless="${currentPage < totalPages}">Last</span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
</body>
</html>