<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Save Employee</h2>

    <form action="#" method="POST" th:action="@{/save}"
          th:object="${employee}">
        <div class="form-group">
            <label>employeeNumber</label>
            <input class="form-control mb-4 col-4" placeholder="Employee Number"
                   th:field="*{employeeNumber}" type="text">
        </div>

        <div class="form-group">
            <label>name</label>
            <input class="form-control mb-4 col-4" placeholder="Employee Name"
                   th:field="*{name}" type="text">
        </div>

        <div class="form-group">
            <label>phone</label>
            <input class="form-control mb-4 col-4" placeholder="Employee Phone"
                th:field="*{phone}" type="text">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" />
        </div>

        <div class="form-group">
            <label>email</label>
            <input class="form-control mb-4 col-4" placeholder="Employee Email"
               th:field="*{email}" type="text">
        </div>

        <div class="form-group">
            <label>position</label>
            <input class="form-control mb-4 col-4" placeholder="Employee position"
               th:field="*{position}" type="text">
        </div>

        <button class="btn btn-info col-2" type="submit"> Save Employee</button>
    </form>

    <hr>

    <a th:href="@{/getAll}"> Back to Employee List</a>
</div>
</body>
</html>