<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Update Employee</h2>

    <form action="#" method="POST" th:action="@{/edit}"
          th:object="${employee}">

        <!-- Add hidden form field to handle update -->
        <div class="form-group">
            <input th:field="*{employeeNumber}" type="hidden"/>
        </div>

        <div class="form-group">
            <label>name</label>
            <input class="form-control mb-4 col-4" th:field="*{name}" type="text">
        </div>

        <div class="form-group">
            <label>phone</label>
            <input class="form-control mb-4 col-4" th:field="*{phone}" type="text">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" />
        </div>

        <div class="form-group">
            <label>email</label>
            <input class="form-control mb-4 col-4" th:field="*{email}" type="text">
        </div>

        <div class="form-group">
            <label>position</label>
            <input class="form-control mb-4 col-4" th:field="*{position}" type="text">
        </div>

        <button class="btn btn-info col-2" type="submit"> Update Employee</button>
    </form>

    <hr>

    <a th:href="@{/getAll}"> Back to Employee List</a>
</div>
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>