<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<img alt="stackjava.com" height="50px" width="50px" 
		src="https://stackjava.com/wp-content/uploads/2017/11/cropped-cropped-icon-new-1.png"/>
	<br/>
	<a href="https://stackjava.com">https://stackjava.com</a>
	<br/>
	Demo send email using Spring + Thymeleaf:
	<p th:text="${message}"></p>
</body>
</html>
